.title{

}

.par1{
  background-color: #90cff4;
  font-family: verdana;
  font-size: 20px;
}

.par2{
  background-color: #90cff4;
  font-family: verdana;
  font-size: 20px;
}

.par3{
  background-color: #90cff4;
  font-family: verdana;
  font-size: 20px;
}

.par4 {
  background-color: #90cff4;
  font-family: verdana;
  font-size: 20px;
}

.par5{

}
#bold{
  font-weight: bold;
}

#design, #function, #large ,#medium, #small, #freelance  {
  display: none;
}
